.notes-container {
  background-color: #fff2df;
  padding: 10px;
  border: 2px solid #f9ccac;
  border-radius: 10px;
  margin-top: 10px;  
}

.tag-row > div:nth-child(1) {
  margin-right: 15px;
}

.todo-description {
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 5px;
}